.Footer-Container{
    max-width: 100%;
    background-color: rgb(230, 212, 188);
    padding: 2rem;
}
.sub-footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aqua;
   
}
.img-title-section img{
    width: 13rem;
    height: 16rem;
    margin-left: 3rem;
}
.logo-title{
    margin-top: 2rem;
    text-transform: capitalize;
    margin-left: 3.5rem;
    color: rgb(28, 27, 27);
}
.footer-sub-title{
    text-transform: capitalize;
    text-decoration: solid;
    text-align: center;
  
}
.footer-sub-title-contact{
    display: flex;
    gap: 10px;
    text-decoration: none;
    margin-top:0.5rem;
   
}


a{
    text-decoration: none;
    color: rgb(69, 68, 68);
    text-decoration:solid;
    font-weight: 700;
    font-size:18px;
}

.footer-sub-title-media{
    display: flex;
    gap: 10px;
    text-decoration: none;
    margin-top:0.5rem;
}
.footer-sub-title-policy{
    display: flex;
    gap: 10px;
    text-decoration: none;
    margin-top:0.5rem;
}
.paymentcard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.paymentcard img{
    height:4rem;
    width: 8rem;
}
.media-sub-title-content{
 margin-top:2rem ;
}
.policy-sub-title-content{
    margin-top: 2rem;
    margin-left: 7rem;
}
.contact-sub-title-content{
    margin-top: 2rem;
    margin-left: 5rem;
}