*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6f0ee;
}
.form-section {
  border: 3px dotted black;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 60rem;
  border-radius: 10px;
  background-color: #e1d9d9;
  -webkit-box-shadow: 1px -2px 16px 14px rgba(145, 132, 145, 1);
  -moz-box-shadow: 1px -2px 16px 14px rgba(145, 132, 145, 1);
  box-shadow: 1px -2px 16px 14px rgba(145, 132, 145, 1);
}
.form-section label {
  margin-left: 10rem;
  font-size: 1rem;
  font-weight: 600;
}

.heading {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.nameInput {
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
  margin-left: 17rem;
  padding-left: 10px;
  margin-top: 1rem;
}
.gender{
    margin-top: 1rem;
    display: flex;
    flex-direction:row;
    gap: 20px;
   
    justify-content: flex-start;
}
.gendermale{
    margin-left: 16rem;
}

.ageInput {
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
  margin-left: 18rem;
  padding-left: 10px;
  margin-top: 1rem;
}
.mobileInput {
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
  margin-left: 16.6rem;
  margin-top: 1rem;
  padding-left: 10px;
}
.idInput {
  border-radius: 5px;
  text-align: left;
  margin-top: 1rem;
  font-size: 22px;
  margin-left: 15.9rem;
  padding-left: 10px;
  min-width: 262px;
  color: black;
}
.idnumber-input {
  border-radius: 5px;
  text-align: left;
  margin-top: 1rem;
  font-size: 22px;
  margin-left: 14.8rem;
  padding-left: 10px;
}
.numberofperson-input {
  border-radius: 5px;
  text-align: left;
  margin-top: 1rem;
  font-size: 22px;
  margin-left: 10.8rem;
  padding-left: 10px;
}
.emailInput{
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
  margin-left: 13.6rem;
  margin-top: 1rem;
  padding-left: 10px;
}
.total {
  border-radius: 5px;
  text-align: left;
  font-size: 22px;
  margin-left: 9.4rem;
  margin-top: 1rem;
  padding-left: 10px;
}
.btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 15rem;
}
.submitbtn {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}
.Resetbtn {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 5px;
}

.submitbtn,
.Resetbtn {
  font-size: 1.1rem;
  line-height: 2;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, #777, #ddd);
  box-shadow: 1px 1px 1px black, inset 2px 3px 5px rgb(0 0 0 / 30%),
    inset -2px -3px 5px rgb(255 255 255 / 50%);
}

.submitbtn:focus,
.Resetbtn:hover {
  background-image: linear-gradient(to bottom right, #888, #eee);
}

.submitbtn:active {
  box-shadow: inset 2px 2px 1px black, inset 2px 3px 5px rgb(0 0 0 / 30%),
    inset -2px -3px 5px rgb(255 255 255 / 50%);
}
.Resetbtn:active {
  box-shadow: inset 2px 2px 1px black, inset 2px 3px 5px rgb(0 0 0 / 30%),
    inset -2px -3px 5px rgb(255 255 255 / 50%);
}
