*{
    margin: 0;
    padding: 0;
    
}
.header{
    
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    color: white;
    /* background-color: rgb(3, 122, 140); */
    background-color: rgb(20, 154, 132);
    /* background-color:rgba(145, 132, 145, 1); */
    height: 3.5rem;
    width: 100%;

}
h1{
    margin-left: 2rem;
    /* text-shadow: 2px 3px 3px rgb(255, 255, 255); */
    font-weight: bold;
}
.buy{
    /* margin-right: 0.5rem; */
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-right: none;
}
.buy:hover{
    /* scale: 1rem; */
    color: rgb(194, 194, 194);
}
.headerRight{
    display: flex;
    margin-right: 2rem;
    border-right: 1px solid white;
}
/* .loginSignup{
    display: flex;
    border: 2px solid rgb(244, 239, 239);
    padding: 5px;
    gap: 2px;
}
.Login{
    background-color: yellow;
    padding: 7px;
  }
.SignUp{
    background-color: rgb(14, 127, 55);
    padding: 7px;
} */