@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #02031f;
    height: 5rem;
    width: 100vw;
}

.heading {
    width: 25%;
    display: flex;
    /* margin-left: 1rem; */
    /* justify-content: space-evenly; */
    align-items: center;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.header-icon {
    margin-top: 0.5rem;
    margin-left: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 4px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-image: url('./assests/header-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.galada-regular {
    margin-left: 1rem;
    font-family: "Graduate", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;

}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    /* margin-left: 2rem; */
    /* margin-top: 1.5rem; */
    font-weight: bold;
}

.buy {
    align-items: center;
    justify-content: center;
    height: inherit;
    display: flex;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
}

.buy:hover {
    color: gold;
    line-height: 1rem;
    text-decoration: underline;
    opacity: 0.5;
}

.headerRight {
    display: flex;
    margin-right: -42rem;
    align-items: center;
    height: inherit;
}

@media (min-width:390px) {
    /* .headerRight { */
        /* display: flex;
        margin-right: -42rem;
        align-items: center;
        height: inherit; */
        /* display: none; */
    /* } */
}

.hamburgerbtn {
    display: none;
}

@media (max-width:390px) {
    .hamburgerbtn {
        display: block;
    }
}